/*
    Main stylesheet, centralizes all other partials.
*/
@charset 'utf-8';
@use 'vendor/bulma';
@use 'vendor/bulma-carousel';
@use 'base/reset';
@use 'abstracts/mixins';
@use 'abstracts/variables';
@use 'abstracts/utilities';
@use 'base/fonts';
@use 'base/typography';
@use 'components/buttons';
@use 'components/icons';
@use 'components/anchors';
@use 'components/carousel';
@use 'components/cover';
@use 'layout/contact';
@use 'layout/footer';
@use 'layout/grid';
@use 'layout/navbar';
@use 'layout/navigation';
@use 'layout/search';
@use 'pages/blog';
@use 'pages/landing';
@use 'pages/not-found';
@use 'pages/posts';
@use 'pages/projects';
