/* 
    
    Blog Hub style sheet

*/

#blog-hub {
    .ttl-xtra {
        margin-top: 1.25em;
        font-size: 5em !important;
    }

    .ttl-xtra,
    .subttl3 {
        &.highlight {
            padding: .2em;
            overflow: visible;
        }
    }
}