/* 

    LANDING

    The homepage hub stylesheet.
 
*/

// About Section
#about {
    
    position: relative;
    scroll-margin-top: 10vh;
    border-top: 2px solid #fff;

    background-size: 100% 200%;
    background: linear-gradient(
        45deg, 
        rgb(119, 236, 251) 0%, 
        rgb(1, 0, 19) 50%
    );

    .container {
        align-self: center;
    }

    a {
        color: currentColor;
        width: 200px;
    }
}

// Content Showcase
#showcase {
    
    position: relative;
    
    border-top: 2px solid #fff;
    border-bottom: 2px solid #000;

    .column {
        display: block;
        align-content: center;
    }

    >*:not(.bg) {
        z-index: 1;
    }

    #showcase-description {
        text-align: center;
    }

    &.carousel1-active,
    &.carousel2-active {
        #toggleCarousel {
            background-blend-mode: overlay;
        }
    }

    &.carousel1-active {
        background: linear-gradient(
            45deg, 
            rgb(106, 45, 156), 
            rgb(119, 236, 251)
        );

        #toggleCarousel {
            background: 
            linear-gradient(
                to bottom, 
                rgba(106, 45, 156, 0.3), 
                rgba(119, 236, 251, 0.3)
            ),
            linear-gradient(
                    to bottom, 
                    rgba(255, 255, 255, 0.05), 
                    rgba(0, 0, 0, 0.1)
            );
        }
    }

    &.carousel2-active {
        background: linear-gradient(
            45deg, 
            rgb(255, 228, 140), 
            rgb(255, 39, 82)
        );

        #toggleCarousel {
            background: linear-gradient(
                to bottom, 
                rgba(255, 228, 140, 0.3), 
                rgba(255, 39, 82, 0.3)
            ),
            linear-gradient(
                to bottom, 
                rgba(255, 255, 255, 0.05), 
                rgba(0, 0, 0, 0.1)
            );
        }
    }

    .carousel .slider {
        color: black;
    }

    .slider-page {
        background-color: #747474;

        &.is-active {
            background-color: #000000;
        }
    }

    .slider-container .slider-item img {
        object-fit: scale-down;
    }

    .slider-pagination {
        background-color: white !important;
    }
}
