{% for item in site[include.type] %}
<div
    class="card in-carousel variant-{{ include.variant }} {% if forloop.first %}is-active{% endif %} is-hoverable glow-up ">
    <a href="{{ item.url}}" class="card-link ">
        <div class="card-image">
            <figure class="img">
                <img src="{{ item.image }}" alt="Slide {{ forloop.index }}">
            </figure>
        </div>
        <div class="rows">
            <div class="row">
                <h4 class="card-ttl" >{{ item.title }} </h3>
                <hr>
            </div>
            <div class="row">
                <div class="card-content scrollable">
                    <p class="card-text">{{ item.description }}</p>
                </div>
            </div>
        </div>
    </a>
</div>
{% endfor %}