/// ANCHOR ELEMENTS
/// 
/// This sheet is responsible for setting the general behaviour of anchor elements
/// be them part of button-like structure or standalone clickable text.

@use 'abstracts/variables' as var;
@use 'components/buttons' as *;

// Base anchor element
a {

    cursor: pointer;
    color: currentColor;
    text-decoration: none;

    &.as-button {
        @extend .btn;
    }

    &.as-credits {
        text-decoration: underline;
        font-weight: bold;
        color: var.$highlight-purple;
    }
}

// Back to top anchor
#backtotop {

    // Dimensions
    width: 150px;
    padding: 0.25rem;
    margin: auto auto 1rem auto;

    // Styling
    background-color: black;
    color: white;
}