@use 'vendor/bulma' as *;
@use 'abstracts/variables' as var;

// Standard Page Button
.btn {

    // Extensions
    @extend .button;
    @extend .is-rounded;
    @extend .is-outlined;
    @extend .is-uppercase;
    @extend .is-hoverable;

    .borderless {
        // If then bordeless
        border: none;
    }

    // TK is-frosted
}

// Toggle Button
.toggle-btn {

    @extend .btn;

    // Dimensions
    width: 225px;
    height: 100px;

    // Styling
    color: var.$default-white;
    border-radius: 20px; // overrides is-rounded
    border: 2px solid #fff;

}

// Compound Button module with Two Buttons
.info-box {
    .button-group {

        // Grid TK - review this
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: visible;

        // Layout
        width: 80%;
        padding: 1rem 1.5rem;
        border-radius: 3rem;

        // Appearance
        background-color: rgba(0, 0, 0, 0.65);
        border: solid 0.1rem currentColor;

        /* TK this is a page variant of the class, generate it by adding its 
        mixin

        .subttl3 {
            font-weight: 425 !important;
            margin: auto;
            margin: auto auto;
        }
        */

        /* TK this is likely a p element that should be defined in the 
        at page level
        .description {
            flex: 1;
            font-size: 1.75em;
            font-weight: semi-bold;
        }
                */

        .btn {
            // Layout
            padding: 0.5rem 1rem;

            // Styling
            background-color: white;
            color: color-mix(in srgb,
                    currentColor 80%,
                    white 20%);

            &.is-active {
                background: #fff7dc;
                color: rgb(151, 170, 174);
            }
        }

        &:first-child {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }

        &:nth-child(2) {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            border-left: 1px solid black;
        }
    }
}