// Card element used in card-view dropdown
@use "abstracts/variables" as var;

.card {

    // Layout
    display: flex;
    flex-direction: column;
    position: relative;

    margin: 0;
    padding: 0;

    // Image inside card
    img {
        width: 100%; // full width of card
        border-radius: 0.25rem; // slightly rounded corners
    }

    &.in-carousel {

        margin: 0.5rem;
        padding: 0.5rem;

        &.variant-red {
            // Appearance   
            border-radius: 2rem;
            border: solid 1px white !important;

            background: linear-gradient(to top right,
                    #d5c7aa  0%,
                    /* lifted crimson (high-lighted) */
                    #dbbba4 20%,
                    /* lifted blood-orange */
                    #936c6e 80%
                    /* lifted yellow */
                );

            box-shadow:
                inset 0 2px 6px rgba(0, 0, 0, 0.25),
                inset 0 -2px 4px rgba(0, 0, 0, 0.15);
        }

        &.variant-blue {
            // Appearance   
            border-radius: 2rem;
            border: solid 1px white !important;

            background: linear-gradient(to top right,
                    #a794b4 0%,
                    #a6ccd0 20%,
                    #c4bfac 80%
                );

            box-shadow:
                inset 0 2px 6px rgba(0, 0, 0, 0.25),
                inset 0 -2px 4px rgba(0, 0, 0, 0.15);
        }
    }

    &.in-menu {

        padding: 0.5rem;

        // Appearance   
        border-radius: 0.5rem;
        border: solid 2px black;

        background: #dbdbd7dd;

    }
}