.carousel {
    
    position:relative;
    overflow-x: hidden;

    .card-content {
        height: 200px;
        overflow-y: scroll;
    }

    .slider-pagination {
        z-index: 10;
    }
    
    &.hidden {
        display: none;
    }

    &:not(.hidden) {
        display: block;
    }
}