/// COVER
/// 
/// This page defines general style of backgrounds and similar elements. Very
/// important the data for each pages backgrounds renders is injected in via 
/// Liquid - this is an exception to the general flow of this scss architecture.
/// 

// Standard Background
/*
    Backgrounda re always relative to the section in which they are included, 
    cover the entire section, and never repeat.
*/
.bg {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    opacity: 1;

    &.parallax {
        background-attachment: fixed; // Parallax effect
    }

    // Boxed - box shadow, as a variable
    &.boxed {
        margin: 1.25rem;
        border-radius: 20px;
        box-shadow:
            inset 0 5px 10px rgba(0, 0, 0, 0.7),
            inset 0 -5px 10px rgba(255, 255, 255, 0.3); // Inner shadow depth
    }

    // Transitions
    transition: opacity 0.75s ease-in-out;

    &.hidden {
        opacity: 0; // Hide background
    }

    &:not(.hidden) {
        opacity: 1; // Show background
    }
}