// Dropdown Menu

.dropdown {

    position: absolute;
    bottom: 100%;
    left: 0;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.65);
    border: 1px solid #ccc;
    border-radius: 0.5rem;
   
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    text-align: left;
    
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.8s ease;
    z-index: 10;

    &.is-active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;

        &.card-view {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 1rem;
            max-height: 50vh;
            overflow-y: scroll;
            padding: 0.5rem;
        }

        &.list-view {
            a {
                display: block;
                padding: 0.5rem 1rem;
                text-decoration: none;
            }

            a:hover {
                opacity: 1;
                font-weight: semibold;
                color: black !important;
                border-radius: 20px;
                background: #fffdea;
                box-shadow: 0 0 10px 2.5px #b9f0ff;
                border-color: #f5f4f0;
                transform: scale(1.02);
                transition: all 0.6s ease;
            }
        }
    }
}
        