<!DOCTYPE html>
<html>

{% include components/head.html %}

<body>
    {% include components/navbar.html %}
    {% include sprites.svg %}

    <section class="hero is-fullheight is-black" id="notfound">
        <div class="hero-body">
            <div class="container has-text-white has-text-centered">
                <h1 class="ttl1">
                    {{page.title}}
                </h1>
                <h3 class="ttl5">
                    {{page.content}}
                </h3>
                <hr>
                <a href="{{ '' | relative_url}}/" class="btn has-text-white">
                    Back to Safety
                </a>
            </div>
        </div>
        <img src="{{ page.image | relative_url }}" class="bottom-left">
    </section>

    <section id="contact">
        {% include components/contact.html %}
    </section>

    {% include components/footer.html %}
    {% include home/scripts.html %}
</body>

</html>