---
layout: projects-hub
Name: Projects
permalink: /projects
---

<!DOCTYPE html>
<html>

<head>
    {% include components/head.html %}
</head>

<body>

    {% include components/navbar.html %}
    {% include components/search.html %}
    {% include sprites.svg %}
    {% include project/landing.html %}
    {% include project/scripts.html %}

    <section id="contact-hubs">
        {% include components/contact.html %}
    </section>

    {% include components/footer.html %}
    {% include home/scripts.html %}

</body>

</html>