<!--
    Carousel section - Double alternate carousel shows blogs and project posts,
    by means of a toggle button. Cards can be slid via navigation options.
-->

<section class="hero has-text-white has-text-centered" id="showcase">

    <!-- Backgrounds -->
    {% assign this-bg = "showcase-1" %}
    {% include components/background-images.html image-key=this-bg %}

    {% assign this-bg = "showcase-2" %}
    {% include components/background-images.html image-key=this-bg %}

    <div class="hero-body no-bottom">
        <div class="container">

            <div class="columns">
                <!-- Title and message -->
                <div class="column black-bg is-three-fifths">
                    <h3 class="ttl3">
                        {{ site.data.home.showcase.title }}
                    </h3>
                    <hr>
                    <p class="text-box-normal" id="showcase-description"></p>
                </div>

                <!-- Toggle Button  -->
                <div class="column is-one-fifth">
                    <button class="toggle-btn has-shadow-normal is-frosted is-hoverable invert enlarge-child-text"
                        id="toggleCarousel">
                        <p class="button-text-large" id="toggleCarousel-text"></p>
                    </button>
                </div>
            </div>

            <!-- Carousel 1-->
            <div class="hero">
                <div class="hero-body no-top carousel" id="carousel1">

                    <!-- Reads collection data from .yml file-->
                    {% assign content_type = "projects" %}
                    {% assign card_variant = "blue" %}
                    {% include components/carousel-items.html type=content_type variant=card_variant %}

                </div>


                <!-- Carousel 2-->
                <div class="hero-body no-top carousel" id="carousel2">

                    <!-- Reads collection data from .yml file-->
                    {% assign content_type = "blog" %}
                    {% assign card_variant = "red" %}
                    {% include components/carousel-items.html type=content_type variant=card_variant %}

                </div>
            </div>
        </div>
</section>