@use 'abstracts/variables' as *;

// Contact Sections
#contact,
#contact-hubs {

    position: relative;
  
    hr {
        background-color: $default-black;
        margin: 0 
    }

    .columns {
        margin: 0 auto;
    }
    #contact-button-email {
        margin-bottom: .75rem;
    }
}

