@use 'abstracts/variables' as *;

// Contact Sections
#contact,
#contact-hubs {
    
    align-items: center;
    
    hr {
        background-color: $default-black;
    }

    #contact-button-email {
        margin-bottom: .75rem;
    }
}

#contact-hubs {

    margin-top: -7.5rem;
    padding: 0 1.5rem 0 1.5rem;
    
}

