/// GRID 
/// 
/// This stylesheet is concerned with defining the general layout options of 
/// page elements. 

.container {
    flex-grow: 1;
    position: relative;
    width: auto
}

.column {
    display: grid;
    margin: auto;

    &.no-top {
        margin-top: 0;
        padding-top: 0;
    }

    &.border-left {
        border-left: 2px solid currentColor;
    }

    &.black-bg {
        align-items: center;
        background-color: black;
        border: 1px solid #fff;
        border-radius: 8px;
    }
    &.sticky {
        display: flex;
        position: sticky;
        align-self: flex-start;
        flex-direction: column;
        gap: 1rem;
    }

    &.is-centered {
        justify-content: center;
    }
}

 .grid-container {
    @extend .container;

    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    
    height: 100vh;

    .grid-cell {
        @extend .column;
        height: 50vh;

        &.top {
            display: flex;
            align-items: start;
            justify-content: center;
        }

        &.centered {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.centered-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &.bottom-center {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 1rem;
        }

        &.bottom-right {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            text-align: right;
            padding: 0.5rem;
        }

        &.black-overlay {
            background-color: rgba(0, 0, 0, 0.65);
            color: white;
        }
    }
 }
