/// GRID 
/// 
/// This stylesheet is concerned with defining the general layout options of 
/// page elements. 

body {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5
}

.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-body {
    
    padding: 3rem 1.5rem;
    
    &.extra-padding {
        padding: 5rem 1.5rem;
    }

    &.no-top {
        padding-top: 0;
        margin-top: 0;
    }

    &.no-bottom {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    &.no-margin {
        margin:0;
        padding:0;
    }

    &.flex-to-bottom {
        display: flex;
        align-items: flex-end;
    }
}

.container {
    position: relative;

    flex-grow: 1;
    flex-shrink: 0;

    width: auto;
    
    &.centered {
        align-self: center;
    }
}

.column {
    display: grid;
    margin: auto;

    &.no-top {
        margin-top: 0;
        padding-top: 0;
    }
    
    &.no-bottom {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &.border-left {
        border-left: 2px solid currentColor;
    }

    &.black-bg {
        align-items: center;
        background-color: black;
        border: 1px solid #fff;
        border-radius: 8px;
    }
    &.sticky {
        display: flex;
        position: sticky;
        align-self: flex-start;
        flex-direction: column;
        gap: 1rem;
    }

    &.is-centered {
        justify-content: center;
    }
}