// Navbar Section
#navbar {
    opacity: 1;
    background-color: black;
    border-bottom: 1px solid #e4dfd0;

    .navbar-dropdown {
        border: none;
        right: 0;
        left: auto;
    }

    a.navbar-item:hover,
    .navbar-link:hover {
        background-color: rgba($color: #332266, $alpha: 0.25) !important;
    }

    .navbar-link:not(.is-arrowless)::after {
        border-color: #1122ee;
    }

    .navbar-burger {
        span:nth-child(2) {
            left: calc(50%);
            width: 8px;
        }
    }

    .navbar-divider-line {
        margin: 0;
        border: none;
        height: 1px;
        background-color: #fff;
        position: relative;
        top: 64px;
    }
}


