/// RESET
/// 
/// This file concerns itself with overriding the styles browsers default to
/// or the opinionated styles that the projects vendors impose.
///
@use 'abstracts/variables' as *;

// Reset the values of several Bulma classes, other resets such as style for
// particular elements are found in the respective partial.


body {
    color: inherit;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5
}

.has-text-white {
    color: $default-white;
}

.has-background-black {
    background-color: $default-black;
}

.has-background-white {
    background-color: $default-white;
}

.has-text-link {
    color: $link-blue;
}

.is-link {
    background-color: $highlight-purple;
}

.button.is-focused,
.button:focus {
    border-color: currentColor;
    color: currentColor;

    &.focus-light {
        border-color: $default-white
    }
    &.focus-dark {
        color: $default-black
    }
}

/// These classes need to be override due to the classes introduced to several
/// elements.

@media screen and (max-width:768px) {
    .is-hidden-mobile {
        display: none !important
    }
}

@media screen and (min-width:769px),
print {
    .is-hidden-tablet {
        display: none !important
    }
}