/// TYPOGRAPHY
/// 
/// This page sets the main typographical styling options, such as the main 
/// typeface for the project, as well as the, font options for several font
/// related base elements. Like titles, paragraphs and lists.
/// 
@use 'abstracts/mixins' as mix;
@use 'abstracts/variables' as var;


// Define the font for the project (poppins, sans-serif)
html,
body {
    font-family: var.$typeface, var.$typeface-category;
}

::placeholder {
    font-family: var.$typeface, var.$typeface-category
}

// Style titles and subtitles
@each 

    $h, 
    $cls, 
    $size, 
    $weight, 
    $decoration, 
    $align, 
    $capitalize,
    $line-height
    
in var.$headings {

    #{$h}.#{$cls} {
        @include mix.font-styler(
        
            $size, 
            $weight, 
            $decoration, 
            $align, 
            $capitalize,
            $line-height
            
        );
    }
}

// Style line-items
li {
    color: currentColor;
    font-size: 1.1rem;

    &::before{
        font-weight: bold;
    }

    list-style: none;
    position: relative;
    padding-left: 1em;

    &::before {
        content: "›"; // Custom bullet
        left: 0;
        position: absolute;
        padding-left: 3rem; // Offset bullet
    }
}

// Style paragraph elements
@each $h,

    $cls,
    $size,
    $weight,
    $decoration,
    $align,
    $capitalize,
    $line-height 

in var.$text-variants {

    #{$h}.#{$cls} {
        @include mix.font-styler(

            $size,
            $weight,
            $decoration,
            $align,
            $capitalize,
            $line-height
            
        );
    }
}

p {
    text-align: justify;
    
    &.head-space {
        margin-top: 1rem;
    } 

    &.has-margin-left {
        margin-left: 1rem;
    }

    &.has-margin-right {
        margin-right: 1rem;
    }
}

hr {
    color: currentColor;
    background-color: currentColor;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0
}